{:github  {:token      ""
           :repository "owner/name"
           :id         nil}
 :twitter {:consumer-key    ""
           :consumer-secret ""
           :token           ""
           :token-secret    ""}}
